main{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 3%;
    padding: 0;
}
header{
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: #348037;
    color: #ffffff;
    margin-left:0; 
    margin-right:0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
}
nav li{
    display: inline-block !important;
    padding: 20px;
}
nav li:hover{
    background-color: #404040;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: underline;
}

h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    border-bottom: solid 1px #848484;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

h3{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.bacon, .oscar, .mocha{
    border-bottom: solid 1px #848484;
}

.bacon > img, .oscar > img, .mocha > img, .tahoe > img, .canyon > img, .yellowstone > img, .pancake > img, .tikka > img, .chicken > img, .banana > img, .double > img{
    display: flex;
    margin: auto;
    padding: 10px;
    filter:drop-shadow(2px 4px 6px #419944);
    border: none;
}

img{
    max-width: 100%;
    max-height: 30em;
    border-color: #212529;
    border: solid 1px;
}
video{
    border-color: #212529;
    border: solid 1px;
    max-width: 100%;
    max-height: 30em;
}
ul{
    margin: 10px 0 20px 0;
}
li{
    text-align: center;
    margin: 1px;
}
.gallery{
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    border: solid 1px;
    border-color: #212529;
    justify-content: center;
    justify-items: center;
    padding: 1em;
}
.gallery img{
    max-width: 75%;
}
.active{
    background-color: #b6009b2d;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: underline;
}
.mocha .gallery img{
    max-width: 100%;
}
.mocha .gallery{
    grid-gap: 20px;
}
.skip{
    position: absolute;
    left: -9999px;
    background-color: yellow;
}
.skip:focus{
    left: auto;
}



@media (min-width: 600px){
    .gallery{
        grid-template-columns: auto auto auto;
    }
    video{
        grid-column: 2/span 1;
    }


.square1 {
  background-color: #FF8776;
  height: 20vw;
  width: 20vw;
  border-radius: 20%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: counterClockwise 3s infinite;
  opacity: 0.9;
}

.square2 {
  background-color: #5576ED;
  height: 20vw;
  width: 20vw;
  border-radius: 20%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) rotate(15deg);
  animation: clockwise 4s infinite;
  opacity: 0.9;
}

@keyframes counterClockwise {
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes clockwise {
  30% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  70% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}

.letter{
  color: white;
  font-size: 3.5vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50vh;
  left: 52.5vw;
  transform: translate(-75%, -50%);
  opacity: 0.8;
}
@media (prefers-reduced-motion: reduce){
    .square1, .square2{
        animation: none;
    }
}
}